In [ ]:
from components.PdfMemberExtractor import PdfMemberExtractor
import pandas as pd

In [3]:
extractor = PdfMemberExtractor()
df_pdf = extractor.extract(pdf_path="../data/ERC-2025-StG-panel-members.pdf")
df_pdf['ERC-Date'] = df_pdf['ERC-Date'].astype(int)
erc_date = int(df_pdf['ERC-Date'].unique()[0])
display(df_pdf)

----------------------------------------

           Chair                    Member ERC-Date
0   Satoru Iwata            Luigi Ambrosio     2025
1   Satoru Iwata           Carolina Araujo     2025
2   Satoru Iwata              Boris Aronov     2025
3   Satoru Iwata        Stéphane Boucheron     2025
4   Satoru Iwata            Alice Guionnet     2025
5   Satoru Iwata            Gitta Kutyniok     2025
6   Satoru Iwata        Elon Lindenstrauss     2025
7   Satoru Iwata            Ilaria Perugia     2025
8   Satoru Iwata      Laura Maria Sangalli     2025
9   Satoru Iwata            Thomas Scanlon     2025
10  Satoru Iwata  Carola-Bibiane Schönlieb     2025
11  Satoru Iwata           Fabio Toninelli     2025
12  Satoru Iwata            Karen Vogtmann     2025
13  Satoru Iwata           Katrin Wendland     2025

----------------------------------------


----------------------------------------

                Chair                  Member ERC-Date
14  Giulia Zanderighi  Eric Arnold Bergshoeff     2025
15  Giulia Zanderighi          Frédéric Chevy     2025
16  Giulia Zanderighi           Brigitte Cros     2025
17  Giulia Zanderighi           Péter Domokos     2025
18  Giulia Zanderighi            Aurél Gábris     2025
19  Giulia Zanderighi           Mariusz Gajda     2025
20  Giulia Zanderighi           Oldřich Kepka     2025
21  Giulia Zanderighi       Zohar Komargodski     2025
22  Giulia Zanderighi          Blaženka Melić     2025
23  Giulia Zanderighi          Werner Riegler     2025
24  Giulia Zanderighi      Oriol Romero Isart     2025
25  Giulia Zanderighi              Ewa Rondio     2025
26  Giulia Zanderighi      Concettina Sfienti     2025
27  Giulia Zanderighi           Katalin Varjú     2025
28  Giulia Zanderighi        Frank Verstraete     2025

----------------------------------------


----------------------------------------

            Chair                Member ERC-Date
29  Daniele Brida      M. Isabel Alonso     2025
30  Daniele Brida     Sergej Demokritov     2025
31  Daniele Brida          Daan Frenkel     2025
32  Daniele Brida        Maia Vergniory     2025
33  Daniele Brida         Juan Garrahan     2025
34  Daniele Brida        Julie Grollier     2025
35  Daniele Brida        Pertti Hakonen     2025
36  Daniele Brida           Paul Janmey     2025
37  Daniele Brida         Despina Louca     2025
38  Daniele Brida       Dragomir Neshev     2025
39  Daniele Brida          Marco Polini     2025
40  Daniele Brida  Jeroen Van den Brink     2025
41  Daniele Brida      Thorsten Wohland     2025
42  Daniele Brida   Emanuela Zaccarelli     2025

----------------------------------------


----------------------------------------

          Chair                Member ERC-Date
43  Dónal Leech             Sara Bals     2025
44  Dónal Leech        Perdita Barran     2025
45  Dónal Leech       Daniel Bélanger     2025
46  Dónal Leech       Ria Broer-Braam     2025
47  Dónal Leech      Michele Ceriotti     2025
48  Dónal Leech        Ilaria Ciofini     2025
49  Dónal Leech         Gaël de Paëpe     2025
50  Dónal Leech  Mariangela Di Donato     2025
51  Dónal Leech         Michael Lyons     2025
52  Dónal Leech           Steve Meech     2025
53  Dónal Leech         Arben Merkoçi     2025
54  Dónal Leech        Giulia Palermo     2025
55  Dónal Leech    Carsten Sönnichsen     2025
56  Dónal Leech        Martin Sterrer     2025
57  Dónal Leech       Hilde J. Venvik     2025

----------------------------------------


----------------------------------------

            Chair                  Member ERC-Date
60  Patrice Simon          Simon Aldridge     2025
61  Patrice Simon              Ivet Bahar     2025
62  Patrice Simon           Anna Bernardi     2025
63  Patrice Simon         Wolfgang Binder     2025
64  Patrice Simon          Stephen Connon     2025
65  Patrice Simon  Christophe Detrembleur     2025
66  Patrice Simon                 Vy Dong     2025
67  Patrice Simon          Mihaela Florea     2025
68  Patrice Simon     María Giménez López     2025
69  Patrice Simon         Silvia Giordani     2025
70  Patrice Simon      Nicolas Giuseppone     2025
71  Patrice Simon    Syuzanna Harutyunyan     2025
72  Patrice Simon      Sohini Kar-Narayan     2025
73  Patrice Simon    Christian Adam Olsen     2025
74  Patrice Simon             Laura Orian     2025
75  Patrice Simon   Tatjana N. Parac-Vogt     2025

----------------------------------------


----------------------------------------

            Chair                Member ERC-Date
76  Mateja Jamnik      Sophia Ananiadou     2025
77  Mateja Jamnik       Mirela Ben-Chen     2025
78  Mateja Jamnik       Levente Buttyán     2025
79  Mateja Jamnik   Ioannis Caragiannis     2025
80  Mateja Jamnik        Ronald de Wolf     2025
81  Mateja Jamnik          Derek Dreyer     2025
82  Mateja Jamnik      Luca Gambardella     2025
83  Mateja Jamnik     Oliver Kohlbacher     2025
84  Mateja Jamnik     Christoph Lampert     2025
85  Mateja Jamnik            Jiri Matas     2025
86  Mateja Jamnik        Laurence Nigay     2025
87  Mateja Jamnik        Dino Pedreschi     2025
88  Mateja Jamnik          Bart Preneel     2025
89  Mateja Jamnik  Jean-François Raskin     2025
90  Mateja Jamnik       Fabian Suchanek     2025
91  Mateja Jamnik       A. Murat Tekalp     2025
92  Mateja Jamnik  Emmanouel Varvarigos     2025

----------------------------------------


----------------------------------------

             Chair             Member ERC-Date
94   Heike Vallery       José Capmany     2025
95   Heike Vallery  Alessandro Chiuso     2025
96   Heike Vallery      Johan Driesen     2025
97   Heike Vallery        Raja Giryes     2025
98   Heike Vallery   Naira Hovakimyan     2025
99   Heike Vallery   Abbas Jamalipour     2025
100  Heike Vallery       Maud Marchal     2025
101  Heike Vallery      Giorgio Metta     2025
102  Heike Vallery      Frank Niklaus     2025
103  Heike Vallery       Josef Nossek     2025
104  Heike Vallery      Richard Penty     2025
105  Heike Vallery  Eva Rajo-Iglesias     2025
106  Heike Vallery        Maria Tenje     2025
107  Heike Vallery            Chi Tse     2025
108  Heike Vallery    James Wilkinson     2025
109  Heike Vallery     Honggang Zhang     2025

----------------------------------------


----------------------------------------

              Chair                      Member ERC-Date
110  Yves Bamberger              Mehdi Ahmadian     2025
111  Yves Bamberger               Paulo Bartolo     2025
112  Yves Bamberger            Shekhar Bhansali     2025
113  Yves Bamberger               Davide Bigoni     2025
114  Yves Bamberger            Corinne Cabassud     2025
115  Yves Bamberger             Emiliano Cortés     2025
116  Yves Bamberger        Michael Havbro Faber     2025
117  Yves Bamberger             Nesreen Ghaddar     2025
118  Yves Bamberger              Hanna Isaksson     2025
119  Yves Bamberger               Saša Kenjereš     2025
120  Yves Bamberger  Eva María Martín Del Valle     2025
121  Yves Bamberger                    Tuan Ngo     2025
122  Yves Bamberger                Kuo-Long Pan     2025
123  Yves Bamberger            Jesús Santamaría     2025
124  Yves Bamberger                 Sauro Succi     2025
125  Yves Bamberger            Martin Wilkening     2025
126  Yves Bamberger             Xiaoying Zhuang     2025

----------------------------------------


----------------------------------------

            Chair                 Member ERC-Date
128  Vicki Hansen        Fátima Abrantes     2025
129  Vicki Hansen         Natalie Bolfan     2025
130  Vicki Hansen            Mike Burton     2025
131  Vicki Hansen      Claudio Chiarabba     2025
132  Vicki Hansen         Olivier Evrard     2025
133  Vicki Hansen           Sandro Fuzzi     2025
134  Vicki Hansen          Corinna Hoose     2025
135  Vicki Hansen   Hauke Knud Marquardt     2025
136  Vicki Hansen          Mari Pihlatie     2025
137  Vicki Hansen           Enno Schefuß     2025
138  Vicki Hansen         Benjamin Smith     2025
139  Vicki Hansen        Thomas Spengler     2025
140  Vicki Hansen       Julienne Stroeve     2025
141  Vicki Hansen  Lena Merete Tallaksen     2025
142  Vicki Hansen        Cees van Westen     2025

----------------------------------------


----------------------------------------

            Chair                 Member ERC-Date
143  Andy Shearer         Dave Z. Besson     2025
144  Andy Shearer           Scott Bolton     2025
145  Andy Shearer      José A. Caballero     2025
146  Andy Shearer  Vassilis Charmandaris     2025
147  Andy Shearer     Cristina Chiappini     2025
148  Andy Shearer             Zsolt Frei     2025
149  Andy Shearer            Amina Helmi     2025
150  Andy Shearer            Martin Kunz     2025
151  Andy Shearer           Maria Lugaro     2025
152  Andy Shearer    Francesca Matteucci     2025
153  Andy Shearer        Michele Moresco     2025
154  Andy Shearer          Clare Parnell     2025
155  Andy Shearer       Giovanna Tinetti     2025

----------------------------------------


----------------------------------------

                Chair                    Member ERC-Date
156  Silvia Vignolini              Miguel Bessa     2025
157  Silvia Vignolini            Maria Bignozzi     2025
158  Silvia Vignolini         João Paulo Borges     2025
159  Silvia Vignolini  Ana Isabel Borrás Martos     2025
160  Silvia Vignolini                  Tal Dvir     2025
161  Silvia Vignolini        Mari-Ann Einarsrud     2025
162  Silvia Vignolini            Paula Ferreira     2025
163  Silvia Vignolini           Carlos González     2025
164  Silvia Vignolini                 Kim Jelfs     2025
165  Silvia Vignolini      Martin Kaltenbrunner     2025
166  Silvia Vignolini           Marion Merklein     2025
167  Silvia Vignolini      Monica Morales Masis     2025
168  Silvia Vignolini     Salvador Pané i Vidal     2025
169  Silvia Vignolini           Kiyonori Suzuki     2025
170  Silvia Vignolini           Christoph Weder     2025

----------------------------------------


----------------------------------------

           Chair              Member ERC-Date
174  Titia Sixma      Rumiana Dimova     2025
175  Titia Sixma       Robert Konrat     2025
176  Titia Sixma           Maja Köhn     2025
177  Titia Sixma        Ohad Medalia     2025
178  Titia Sixma      Erwin Peterman     2025
179  Titia Sixma    Claire Rougeulle     2025
180  Titia Sixma     Dina Schneidman     2025
181  Titia Sixma       Evi Soutoglou     2025
182  Titia Sixma   Herta Steinkeller     2025
183  Titia Sixma         Peter Tompa     2025
184  Titia Sixma  Alessandro Vannini     2025
185  Titia Sixma        Hans Wandall     2025
186  Titia Sixma      Marcin Nowotny     2025

----------------------------------------


----------------------------------------

                       Chair                     Member ERC-Date
187  Julius Fabian Brennecke                Stein Aerts     2025
188  Julius Fabian Brennecke            Haike Antelmann     2025
189  Julius Fabian Brennecke           Maria Ina Arnone     2025
190  Julius Fabian Brennecke       Marisa S. Bartolomei     2025
191  Julius Fabian Brennecke             Paola Chiarugi     2025
192  Julius Fabian Brennecke            Michal Holčapek     2025
193  Julius Fabian Brennecke               Quaid Morris     2025
194  Julius Fabian Brennecke           Sergey Nejentsev     2025
195  Julius Fabian Brennecke                  Csaba Pál     2025
196  Julius Fabian Brennecke  Alexander van Oudenaarden     2025
197  Julius Fabian Brennecke              Oliver Stegle     2025
198  Julius Fabian Brennecke           Karin Schumacher     2025

----------------------------------------


----------------------------------------

              Chair                      Member ERC-Date
201  Daniel Gerlich  Maria Elena Torres Padilla     2025
202  Daniel Gerlich                   Buzz Baum     2025
203  Daniel Gerlich                 Eva Benkova     2025
204  Daniel Gerlich               Zbyněk Kozmik     2025
205  Daniel Gerlich               Andreas Mayer     2025
206  Daniel Gerlich                Caren Norden     2025
207  Daniel Gerlich   Eugenia (Jenny) Russinova     2025
208  Daniel Gerlich           Carmine Settembre     2025
209  Daniel Gerlich          Francesca Spagnoli     2025
210  Daniel Gerlich              Magali Suzanne     2025
211  Daniel Gerlich                Manuel Thery     2025
212  Daniel Gerlich                   Iva Tolic     2025
213  Daniel Gerlich       Aleksandra Trifunovic     2025

----------------------------------------


----------------------------------------

         Chair             Member ERC-Date
214  Rong Tian       Reuven Agami     2025
215  Rong Tian       Rami Aqeilan     2025
216  Rong Tian   Gabriele Bergers     2025
217  Rong Tian           Wei Chen     2025
218  Rong Tian        Helene Duez     2025
219  Rong Tian   Christian Frezza     2025
220  Rong Tian    Pierre Maechler     2025
221  Rong Tian    Ruth Mc Pherson     2025
222  Rong Tian    Gilles Mithieux     2025
223  Rong Tian  Valerie O'Donnell     2025
224  Rong Tian    Tatiana Petrova     2025
225  Rong Tian    Mireille Serlie     2025
226  Rong Tian       Stephen Tait     2025
227  Rong Tian   Giannino del Sal     2025

----------------------------------------


----------------------------------------

              Chair               Member ERC-Date
231  Eraldo Paulesu  Amparo Acker-Palmer     2025
232  Eraldo Paulesu    Nicoletta Berardi     2025
233  Eraldo Paulesu      Claudia Clopath     2025
234  Eraldo Paulesu      Martin Dichgans     2025
235  Eraldo Paulesu         Carlos Dotti     2025
236  Eraldo Paulesu      Gilberto Fisone     2025
237  Eraldo Paulesu         Ulrik Gether     2025
238  Eraldo Paulesu      Pierre Gressens     2025
239  Eraldo Paulesu       Michaela Kress     2025
240  Eraldo Paulesu        Angela Sirigu     2025
241  Eraldo Paulesu      Floris de Lange     2025
242  Eraldo Paulesu   Katarzyna Łukasiuk     2025
243  Eraldo Paulesu    Patrik Verstreken     2025
244  Eraldo Paulesu        László Acsády     2025

----------------------------------------


----------------------------------------

               Chair                  Member ERC-Date
245  David Tarlinton        Chiara Romagnani     2025
246  David Tarlinton        Nathalie Balaban     2025
247  David Tarlinton            Ben Berkhout     2025
248  David Tarlinton           Abhishek Garg     2025
249  David Tarlinton        Matteo Iannacone     2025
250  David Tarlinton            Julius Lukeš     2025
251  David Tarlinton           Nicolas Manel     2025
252  David Tarlinton             Gabi Palmer     2025
253  David Tarlinton       Laura Pasqualucci     2025
254  David Tarlinton          Pablo Pelegrin     2025
255  David Tarlinton  Hermelijn Helene Smits     2025
256  David Tarlinton          Joan Geoghegan     2025

----------------------------------------


----------------------------------------

             Chair                Member ERC-Date
259  Liesbet Geris   Maria Blanco-Prieto     2025
260  Liesbet Geris        Maria Blettner     2025
261  Liesbet Geris       Traolach Brugha     2025
262  Liesbet Geris         Micha Drukker     2025
263  Liesbet Geris      Alejandro Frangi     2025
264  Liesbet Geris       Alessia Gimelli     2025
265  Liesbet Geris        Václav Hořejší     2025
266  Liesbet Geris          Jorgen Kjems     2025
267  Liesbet Geris         Anders Kvanta     2025
268  Liesbet Geris               Ian Law     2025
269  Liesbet Geris          Evi Lianidou     2025
270  Liesbet Geris  June Helen Myklebust     2025
271  Liesbet Geris         Gerard Rongen     2025
272  Liesbet Geris           Amanda Ross     2025
273  Liesbet Geris        Mickael Tanter     2025
274  Liesbet Geris      Martine Vrijheid     2025
275  Liesbet Geris      Serena Zacchigna     2025

----------------------------------------


----------------------------------------

                Chair                 Member ERC-Date
276  Anna-Liisa Laine  Susana Agustí Requena     2025
277  Anna-Liisa Laine   Carlos Alonso-Blanco     2025
278  Anna-Liisa Laine   Josefa Antón Botella     2025
279  Anna-Liisa Laine              Tal Dagan     2025
280  Anna-Liisa Laine               Troy Day     2025
281  Anna-Liisa Laine       Scott V. Edwards     2025
282  Anna-Liisa Laine         Anjali Goswami     2025
283  Anna-Liisa Laine          Thomas Hansen     2025
284  Anna-Liisa Laine           Anke Jentsch     2025
285  Anna-Liisa Laine           Virpi Lummaa     2025
286  Anna-Liisa Laine          Ülo Niinemets     2025
287  Anna-Liisa Laine         Johannes Rousk     2025
288  Anna-Liisa Laine         Martin Stevens     2025
289  Anna-Liisa Laine            Robby Stoks     2025
290  Anna-Liisa Laine        Frédéric Thomas     2025
291  Anna-Liisa Laine          Marcel Visser     2025
292  Anna-Liisa Laine         Thomas Gilbert     2025

----------------------------------------


----------------------------------------

             Chair                     Member ERC-Date
295  Alan L. Kelly             Jane E. Parker     2025
296  Alan L. Kelly        Notburga Gierlinger     2025
297  Alan L. Kelly                Sara Hallin     2025
298  Alan L. Kelly            Minna Kellomäki     2025
299  Alan L. Kelly                Rob Lavigne     2025
300  Alan L. Kelly  Willie J.G.M. Peijnenburg     2025
301  Alan L. Kelly      Dominique P. Pioletti     2025
302  Alan L. Kelly         Anet Režek Jambrak     2025
303  Alan L. Kelly             Cristobal Uauy     2025
304  Alan L. Kelly                  Imre Vass     2025
305  Alan L. Kelly          Wolfram Weckwerth     2025
306  Alan L. Kelly               Eckhard Wolf     2025

----------------------------------------


----------------------------------------

                      Chair                     Member ERC-Date
309  Florian von Wangenheim          Joakim Westerlund     2025
310  Florian von Wangenheim  Katharina Auer-Zotlöterer     2025
311  Florian von Wangenheim           Konrad Burchardi     2025
312  Florian von Wangenheim         Miguel Costa-Gomes     2025
313  Florian von Wangenheim                Mette Gørtz     2025
314  Florian von Wangenheim            Michael Kosfeld     2025
315  Florian von Wangenheim        Ladislav Krištoufek     2025
316  Florian von Wangenheim           Thorsten Lehnert     2025
317  Florian von Wangenheim              Steven Ongena     2025
318  Florian von Wangenheim        Evi Paraskevi Pappa     2025
319  Florian von Wangenheim            Enrico Pennings     2025
320  Florian von Wangenheim      Paola Antonia Profeta     2025
321  Florian von Wangenheim               Thomas Rønde     2025
322  Florian von Wangenheim           Fabian Waldinger     2025

----------------------------------------


----------------------------------------

               Chair                   Member ERC-Date
323  Frédéric Mérand         Anuscheh Farahat     2025
324  Frédéric Mérand          Krisztina Arató     2025
325  Frédéric Mérand      Olivier De Schutter     2025
326  Frédéric Mérand              Scott Gates     2025
327  Frédéric Mérand         Bogdan Góralczyk     2025
328  Frédéric Mérand             Heike Klüver     2025
329  Frédéric Mérand          Brigitta Lurger     2025
330  Frédéric Mérand           Helen Margetts     2025
331  Frédéric Mérand           Stefania Milan     2025
332  Frédéric Mérand        Manuela Moschella     2025
333  Frédéric Mérand     Carmen Navarro Gómez     2025
334  Frédéric Mérand  David Restrepo Amariles     2025
335  Frédéric Mérand               Mary Rogan     2025
336  Frédéric Mérand       Ronald L. Rogowski     2025
337  Frédéric Mérand           Andrea Ruggeri     2025
338  Frédéric Mérand        Wojciech Sadurski     2025
339  Frédéric Mérand             Harm Schepel     2025
340  Frédéric Mérand        Ingrid van Biezen     2025

----------------------------------------


            Chair               Member  ERC-Date
0    Satoru Iwata       Luigi Ambrosio      2025
1    Satoru Iwata      Carolina Araujo      2025
2    Satoru Iwata         Boris Aronov      2025
3    Satoru Iwata   Stéphane Boucheron      2025
4    Satoru Iwata       Alice Guionnet      2025
..            ...                  ...       ...
442  Helena Wulff          Kevin Smets      2025
443  Helena Wulff  Sharika Thiranagama      2025
444  Helena Wulff   Rob van der Laarse      2025
445  Helena Wulff          Lorenz Korn      2025
446  Helena Wulff           Ana Hofman      2025

[426 rows x 3 columns]

array(['PE1', 'PE2', 'PE3', 'PE4', 'PE6', 'PE7', 'PE8', 'PE9', 'PE10',
       'PE11', 'LS1', 'LS2', 'LS3', 'LS5', 'LS7', 'SH3', 'SH4', 'SH5',
       'SH6', 'SH7', 'SH8'], dtype=object)

In [46]:
# Read panel-members-excel.xls
excel_path = "../data/panel-members-excel.xls"

df_excel = pd.read_excel(excel_path, engine='openpyxl')

# split column year at "," and copy the row for each year
df_excel = df_excel.assign(year=df_excel['year'].astype(str).str.split(',')).explode('year')

# strip whitespace und entferne leere/ungültige Einträge (nur 4-stellige Jahreszahlen)
df_excel['year'] = df_excel['year'].str.strip()
df_excel = df_excel[df_excel['year'].str.match(r'^\s*\d{4}\s*$', na=False)].copy()

# year in int konvertieren
df_excel['year'] = df_excel['year'].astype(int)



# display only the rows where year == erc_date
df_excel = df_excel[df_excel['year'] == erc_date]

# strip whitespace from Name column
df_excel['Name'] = df_excel['Name'].str.strip()



display(df_excel.head())

                      Name funding_scheme review_panel  year
61         Deborah  Lawlor            SyG           LS  2025
89   Hilleke Hulshoff  Pol            SyG           LS  2025
112          Sharon  Tooze            SyG           LS  2025
244          Ramesh Pillai            CoG          LS1  2025
274         Rumiana Dimova            StG          LS1  2025

In [47]:


review_panels = df_pdf['review_panel'].unique()
df_merged_back = pd.DataFrame()
for panel in review_panels:
    df_panel = df_pdf[df_pdf['review_panel'] == panel]
    
    df_merged_panel = pd.merge(df_panel, df_excel, left_on='Fullname', right_on='Name', how='left', indicator=True)
    
    # if review_panel_x != review_panel_y, then use review_panel_y
    df_merged_panel['review_panel'] = df_merged_panel.apply(
        lambda row: row['review_panel_y'] if row['review_panel_x'] != row['review_panel_y'] and pd.notna(row['review_panel_y']) else row['review_panel_x'],
        axis=1
    )

    # if the chair person has a different panel, set all members to chair's panel
    chair_member = df_merged_panel[df_merged_panel['Type'] == 'Chair']
    if not chair_member.empty:
        chair_panel = chair_member['review_panel'].values[0]
        # Setze alle Mitglieder auf das Panel des Chairs, wenn es unterschiedlich ist
        if chair_panel != panel:
            df_merged_panel['review_panel'] = chair_panel

   
    
     
    
    # merge back to df_merged_back
    df_merged_back = pd.concat([df_merged_back, df_merged_panel], ignore_index=True)

# review_panels = df_merged_back['review_panel'].unique()
for panel in review_panels:
    df_panel = df_merged_back[df_merged_back['review_panel'] == panel]
    display(df_panel[['Fullname', 'review_panel_x', 'review_panel_y', 'review_panel']])

                    Fullname review_panel_x review_panel_y review_panel
0               Satoru Iwata            PE1            PE1          PE1
1             Luigi Ambrosio            PE1            PE1          PE1
2            Carolina Araujo            PE1            PE1          PE1
3               Boris Aronov            PE1            PE1          PE1
4         Stéphane Boucheron            PE1            PE1          PE1
5             Alice Guionnet            PE1            PE1          PE1
6             Gitta Kutyniok            PE1            PE1          PE1
7         Elon Lindenstrauss            PE1            PE1          PE1
8             Ilaria Perugia            PE1            PE1          PE1
9       Laura Maria Sangalli            PE1            NaN          PE1
10            Thomas Scanlon            PE1            PE1          PE1
11  Carola-Bibiane Schönlieb            PE1            PE1          PE1
12           Fabio Toninelli            PE1            PE1          PE1
13            Karen Vogtmann            PE1            PE1          PE1
14           Katrin Wendland            PE1            PE1          PE1

                  Fullname review_panel_x review_panel_y review_panel
15       Giulia Zanderighi            PE2            PE2          PE2
16  Eric Arnold Bergshoeff            PE2            NaN          PE2
17          Frédéric Chevy            PE2            PE2          PE2
18           Brigitte Cros            PE2            PE2          PE2
19           Péter Domokos            PE2            PE2          PE2
20            Aurél Gábris            PE2            PE2          PE2
21           Mariusz Gajda            PE2            PE2          PE2
22           Oldřich Kepka            PE2            PE2          PE2
23       Zohar Komargodski            PE2            PE2          PE2
24          Blaženka Melić            PE2            PE2          PE2
25          Werner Riegler            PE2            PE2          PE2
26      Oriol Romero Isart            PE2            NaN          PE2
27              Ewa Rondio            PE2            PE2          PE2
28      Concettina Sfienti            PE2            PE2          PE2
29           Katalin Varjú            PE2            PE2          PE2
30        Frank Verstraete            PE2            PE2          PE2

                Fullname review_panel_x review_panel_y review_panel
31         Daniele Brida            PE3            PE3          PE3
32      M. Isabel Alonso            PE3            NaN          PE3
33     Sergej Demokritov            PE3            PE3          PE3
34          Daan Frenkel            PE3            PE3          PE3
35        Maia Vergniory            PE3            PE3          PE3
36         Juan Garrahan            PE3            PE3          PE3
37        Julie Grollier            PE3            PE3          PE3
38        Pertti Hakonen            PE3            PE3          PE3
39           Paul Janmey            PE3            PE3          PE3
40         Despina Louca            PE3            PE3          PE3
41       Dragomir Neshev            PE3            PE3          PE3
42          Marco Polini            PE3            PE3          PE3
43  Jeroen Van den Brink            PE3            NaN          PE3
44      Thorsten Wohland            PE3            PE3          PE3
45   Emanuela Zaccarelli            PE3            PE3          PE3

                Fullname review_panel_x review_panel_y review_panel
46           Dónal Leech            PE4            PE4          PE4
47             Sara Bals            PE4            PE4          PE4
48        Perdita Barran            PE4            PE4          PE4
49       Daniel Bélanger            PE4            PE4          PE4
50       Ria Broer-Braam            PE4            PE4          PE4
51      Michele Ceriotti            PE4            PE4          PE4
52        Ilaria Ciofini            PE4            PE4          PE4
53         Gaël de Paëpe            PE4            PE4          PE4
54  Mariangela Di Donato            PE4            PE4          PE4
55         Michael Lyons            PE4            PE4          PE4
56           Steve Meech            PE4            PE4          PE4
57         Arben Merkoçi            PE4            PE4          PE4
58        Giulia Palermo            PE4            PE4          PE4
59    Carsten Sönnichsen            PE4            PE4          PE4
60        Martin Sterrer            PE4            PE4          PE4
61       Hilde J. Venvik            PE4            NaN          PE4

Empty DataFrame
Columns: [Fullname, review_panel_x, review_panel_y, review_panel]
Index: []

              Fullname review_panel_x review_panel_y review_panel
97       Heike Vallery            PE7            PE7          PE7
98        José Capmany            PE7            PE7          PE7
99   Alessandro Chiuso            PE7            PE7          PE7
100      Johan Driesen            PE7            PE7          PE7
101        Raja Giryes            PE7            PE7          PE7
102   Naira Hovakimyan            PE7            PE7          PE7
103   Abbas Jamalipour            PE7            PE7          PE7
104       Maud Marchal            PE7            PE7          PE7
105      Giorgio Metta            PE7            PE7          PE7
106      Frank Niklaus            PE7            PE7          PE7
107       Josef Nossek            PE7            PE7          PE7
108      Richard Penty            PE7            PE7          PE7
109  Eva Rajo-Iglesias            PE7            PE7          PE7
110        Maria Tenje            PE7            PE7          PE7
111            Chi Tse            PE7            PE7          PE7
112    James Wilkinson            PE7            PE7          PE7
113     Honggang Zhang            PE7            PE7          PE7

                       Fullname review_panel_x review_panel_y review_panel
114              Yves Bamberger            PE8            PE8          PE8
115              Mehdi Ahmadian            PE8            PE8          PE8
116               Paulo Bartolo            PE8            PE8          PE8
117            Shekhar Bhansali            PE8            PE8          PE8
118               Davide Bigoni            PE8            PE8          PE8
119            Corinne Cabassud            PE8            PE8          PE8
120             Emiliano Cortés            PE8            PE8          PE8
121        Michael Havbro Faber            PE8            PE8          PE8
122             Nesreen Ghaddar            PE8            PE8          PE8
123              Hanna Isaksson            PE8            PE8          PE8
124               Saša Kenjereš            PE8            PE8          PE8
125  Eva María Martín Del Valle            PE8            PE8          PE8
126                    Tuan Ngo            PE8            PE8          PE8
127                Kuo-Long Pan            PE8            PE8          PE8
128            Jesús Santamaría            PE8            PE8          PE8
129                 Sauro Succi            PE8            PE8          PE8
130            Martin Wilkening            PE8            PE8          PE8
131             Xiaoying Zhuang            PE8            PE8          PE8

                  Fullname review_panel_x review_panel_y review_panel
148           Andy Shearer           PE10            PE9          PE9
149         Dave Z. Besson           PE10            NaN          PE9
150           Scott Bolton           PE10            PE9          PE9
151      José A. Caballero           PE10            PE9          PE9
152  Vassilis Charmandaris           PE10            PE9          PE9
153     Cristina Chiappini           PE10            PE9          PE9
154             Zsolt Frei           PE10            PE9          PE9
155            Amina Helmi           PE10            PE9          PE9
156            Martin Kunz           PE10            PE9          PE9
157           Maria Lugaro           PE10            PE9          PE9
158    Francesca Matteucci           PE10            PE9          PE9
159        Michele Moresco           PE10            PE9          PE9
160          Clare Parnell           PE10            PE9          PE9
161       Giovanna Tinetti           PE10            PE9          PE9

                  Fullname review_panel_x review_panel_y review_panel
132           Vicki Hansen            PE9           PE10         PE10
133        Fátima Abrantes            PE9           PE10         PE10
134         Natalie Bolfan            PE9           PE10         PE10
135            Mike Burton            PE9           PE10         PE10
136      Claudio Chiarabba            PE9           PE10         PE10
137         Olivier Evrard            PE9           PE10         PE10
138           Sandro Fuzzi            PE9           PE10         PE10
139          Corinna Hoose            PE9           PE10         PE10
140   Hauke Knud Marquardt            PE9           PE10         PE10
141          Mari Pihlatie            PE9           PE10         PE10
142           Enno Schefuß            PE9           PE10         PE10
143         Benjamin Smith            PE9           PE10         PE10
144        Thomas Spengler            PE9           PE10         PE10
145       Julienne Stroeve            PE9           PE10         PE10
146  Lena Merete Tallaksen            PE9           PE10         PE10
147        Cees van Westen            PE9           PE10         PE10

                           Fullname review_panel_x review_panel_y review_panel
162                Silvia Vignolini           PE11           PE11         PE11
163                    Miguel Bessa           PE11           PE11         PE11
164                  Maria Bignozzi           PE11           PE11         PE11
165               João Paulo Borges           PE11           PE11         PE11
166        Ana Isabel Borrás Martos           PE11            NaN         PE11
167                        Tal Dvir           PE11           PE11         PE11
168              Mari-Ann Einarsrud           PE11           PE11         PE11
169                  Paula Ferreira           PE11           PE11         PE11
170                 Carlos González           PE11           PE11         PE11
171                       Kim Jelfs           PE11           PE11         PE11
172            Martin Kaltenbrunner           PE11           PE11         PE11
173  Andrei Lavrinenko (Laurynenka)           PE11            NaN         PE11
174                 Marion Merklein           PE11           PE11         PE11
175            Monica Morales Masis           PE11           PE11         PE11
176           Salvador Pané i Vidal           PE11           PE11         PE11
177                 Kiyonori Suzuki           PE11           PE11         PE11
178                 Christoph Weder           PE11           PE11         PE11

               Fullname review_panel_x review_panel_y review_panel
179         Titia Sixma            LS1            LS1          LS1
180      Rumiana Dimova            LS1            LS1          LS1
181       Robert Konrat            LS1            LS1          LS1
182           Maja Köhn            LS1            LS1          LS1
183        Ohad Medalia            LS1            LS1          LS1
184      Erwin Peterman            LS1            LS1          LS1
185    Claire Rougeulle            LS1            LS1          LS1
186     Dina Schneidman            LS1            LS1          LS1
187       Evi Soutoglou            LS1            LS1          LS1
188   Herta Steinkeller            LS1            LS1          LS1
189         Peter Tompa            LS1            LS1          LS1
190  Alessandro Vannini            LS1            LS1          LS1
191        Hans Wandall            LS1            LS1          LS1
192      Marcin Nowotny            LS1            LS1          LS1

                      Fullname review_panel_x review_panel_y review_panel
193    Julius Fabian Brennecke            LS2            LS2          LS2
194                Stein Aerts            LS2            LS2          LS2
195            Haike Antelmann            LS2            LS2          LS2
196           Maria Ina Arnone            LS2            LS2          LS2
197       Marisa S. Bartolomei            LS2            LS2          LS2
198             Paola Chiarugi            LS2            LS2          LS2
199            Michal Holčapek            LS2            LS2          LS2
200               Quaid Morris            LS2            LS2          LS2
201           Sergey Nejentsev            LS2            LS2          LS2
202                  Csaba Pál            LS2            LS2          LS2
203  Alexander van Oudenaarden            LS2            LS2          LS2
204              Oliver Stegle            LS2            LS2          LS2
205           Karin Schumacher            LS2            LS2          LS2

                       Fullname review_panel_x review_panel_y review_panel
206              Daniel Gerlich            LS3            LS3          LS3
207  Maria Elena Torres Padilla            LS3            NaN          LS3
208                   Buzz Baum            LS3            LS3          LS3
209                 Eva Benkova            LS3            LS3          LS3
210               Zbyněk Kozmik            LS3            LS3          LS3
211               Andreas Mayer            LS3            LS3          LS3
212                Caren Norden            LS3            LS3          LS3
213   Eugenia (Jenny) Russinova            LS3            NaN          LS3
214           Carmine Settembre            LS3            LS3          LS3
215          Francesca Spagnoli            LS3            LS3          LS3
216              Magali Suzanne            LS3            LS3          LS3
217                Manuel Thery            LS3            LS3          LS3
218                   Iva Tolic            LS3            LS3          LS3
219       Aleksandra Trifunovic            LS3            LS3          LS3
228             Ruth Mc Pherson            LS3            NaN          LS3

                Fullname review_panel_x review_panel_y review_panel
235       Eraldo Paulesu            LS5            LS5          LS5
236  Amparo Acker-Palmer            LS5            LS5          LS5
237    Nicoletta Berardi            LS5            LS5          LS5
238      Claudia Clopath            LS5            LS5          LS5
239      Martin Dichgans            LS5            LS5          LS5
240         Carlos Dotti            LS5            LS5          LS5
241      Gilberto Fisone            LS5            LS5          LS5
242         Ulrik Gether            LS5            LS5          LS5
243      Pierre Gressens            LS5            LS5          LS5
244       Michaela Kress            LS5            LS5          LS5
245        Angela Sirigu            LS5            LS5          LS5
246      Floris de Lange            LS5            LS5          LS5
247   Katarzyna Łukasiuk            LS5            LS5          LS5
248    Patrik Verstreken            LS5            LS5          LS5
249        László Acsády            LS5            LS5          LS5

,Fullname,review_panel_x,review_panel_y,review_panel
263,Liesbet Geris,LS7,LS7,LS7
264,Maria Blanco-Prieto,LS7,LS7,LS7
265,Maria Blettner,LS7,LS7,LS7
266,Traolach Brugha,LS7,LS7,LS7
267,Micha Drukker,LS7,LS7,LS7
268,Alejandro Frangi,LS7,LS7,LS7
269,Alessia Gimelli,LS7,LS7,LS7
270,Václav Hořejší,LS7,LS7,LS7
271,Jorgen Kjems,LS7,LS7,LS7
272,Anders Kvanta,LS7,LS7,LS7
273,Ian Law,LS7,LS7,LS7
274,Evi Lianidou,LS7,LS7,LS7
275,June Helen Myklebust,LS7,NaN,LS7
276,Gerard Rongen,LS7,LS7,LS7
277,Amanda Ross,LS7,LS7,LS7
278,Mickael Tanter,LS7,LS7,LS7
279,Martine Vrijheid,LS7,LS7,LS7
280,Serena Zacchigna,LS7,LS7,LS7
312,SOCIAL SCIENCES & HUMANITIES (SH),LS7,NaN,LS7

                   Fullname review_panel_x review_panel_y review_panel
347           Lionel Obadia            SH3            SH3          SH3
348         Nicolas Marquis            SH3            SH3          SH3
349          Michele Burman            SH3            SH3          SH3
350          Bart Cammaerts            SH3            SH3          SH3
351       Steffen Dalsgaard            SH3            SH3          SH3
352          Nicolas Duvoux            SH3            SH3          SH3
353           Mikko Jakonen            SH3            SH3          SH3
354            Nina Kolleck            SH3            SH3          SH3
355          Chiaki Konishi            SH3            SH3          SH3
356          Frauke Kreuter            SH3            SH3          SH3
357              Franc Mali            SH3            SH3          SH3
358         Tiziana Mancini            SH3            SH3          SH3
359  Sofia Marques da Silva            SH3            NaN          SH3
360          Karlijn Massar            SH3            SH3          SH3
361           Letizia Paoli            SH3            SH3          SH3
362          Steven Raphael            SH3            SH3          SH3
363          Susana Salgado            SH3            SH3          SH3
364          Susanne Schwab            SH3            SH3          SH3
365  Ranjodh Singh Dhaliwal            SH3            NaN          SH3
366            Tore Slaatta            SH3            SH3          SH3

                       Fullname review_panel_x review_panel_y review_panel
367         Gabriella Vigliocco            SH4            SH4          SH4
368              Heleen Slagter            SH4            SH4          SH4
369              Gregoire Borst            SH4            SH4          SH4
370            Cristina Botella            SH4            SH4          SH4
371               Ann Copestake            SH4            SH4          SH4
372         Elisabetta Crocetti            SH4            SH4          SH4
373              Daniel Everett            SH4            SH4          SH4
374              Ingmar Franken            SH4            SH4          SH4
375            Didier Grandjean            SH4            SH4          SH4
376              Silvia Luraghi            SH4            SH4          SH4
377            Despina Moraitou            SH4            SH4          SH4
378              Carita Paradis            SH4            SH4          SH4
379         Felix G. Rebitschek            SH4            SH4          SH4
380  Antonio Rodríguez Fornells            SH4            NaN          SH4
381                Jack Sidnell            SH4            SH4          SH4
382     Elizabeth Shilin Spelke            SH4            SH4          SH4
383                Simon Thorpe            SH4            SH4          SH4
384                 Tom Verguts            SH4            SH4          SH4

                   Fullname review_panel_x review_panel_y review_panel
385             Maciej Eder            SH5            SH5          SH5
386         Hanoch Ben-Yami            SH5            SH5          SH5
387     Elisabetta Cattanei            SH5            SH5          SH5
388           Göran Collste            SH5            SH5          SH5
389           Robert Hawley            SH5            SH5          SH5
390            Shazia Jagot            SH5            SH5          SH5
391          Thomas Y Levin            SH5            SH5          SH5
392     Katarzyna Marciniak            SH5            SH5          SH5
393          Carmen Meinert            SH5            SH5          SH5
394           Parimal Patil            SH5            SH5          SH5
395        Sandra Ponzanesi            SH5            SH5          SH5
396          Manuel Portela            SH5            SH5          SH5
397          Rosalind Smith            SH5            SH5          SH5
398            Thomas Sturm            SH5            SH5          SH5
399       Ginette Vagenheim            SH5            SH5          SH5
400     Peter A. O. Wasamba            SH5            NaN          SH5
401  Jean Paul van Bendegem            SH5            NaN          SH5

                      Fullname review_panel_x review_panel_y review_panel
402             László Kontler            SH6            SH6          SH6
403          Rosa Maria Albert            SH6            SH6          SH6
404   Miguel Bandeira Jerónimo            SH6            SH6          SH6
405           James H. Barrett            SH6            SH6          SH6
406                Amy Bogaard            SH6            SH6          SH6
407            Christian Bonah            SH6            SH6          SH6
408           Vinita Damodaran            SH6            SH6          SH6
409                 Sven Dupré            SH6            SH6          SH6
410          Dagmar Ellerbrock            SH6            SH6          SH6
411        Marcella Frangipane            SH6            SH6          SH6
412               Philipp Gunz            SH6            SH6          SH6
413             Michal Kopeček            SH6            SH6          SH6
414  Ana María Rodríguez López            SH6            SH6          SH6
415              Corinna Rossi            SH6            SH6          SH6
416                Brian Shaev            SH6            SH6          SH6
417           Zoltán Szombathy            SH6            SH6          SH6
418       Sofía Torallas Tovar            SH6            SH6          SH6
419          Robert Wiśniewski            SH6            SH6          SH6

                         Fullname review_panel_x review_panel_y review_panel
420                  Tiit Tammaru            SH7            SH7          SH7
421               Thomas Elmqvist            SH7            SH7          SH7
422                    Jack Ahern            SH7            SH7          SH7
423      Anne Laure Amilhat Szary            SH7            NaN          SH7
424               Itzhak Benenson            SH7            SH7          SH7
425            Marta Bivand Erdal            SH7            SH7          SH7
426            Sarah Brauner-Otto            SH7            SH7          SH7
427                    Eric Clark            SH7            SH7          SH7
428                 Ferne Edwards            SH7            SH7          SH7
429                Eran Feitelson            SH7            SH7          SH7
430                Carlo Giupponi            SH7            SH7          SH7
431                Thanasis Kizos            SH7            SH7          SH7
432  Juan Carlos Martín Hernández            SH7            SH7          SH7
433                 Mary Mc Eniry            SH7            NaN          SH7
434                  France Meslé            SH7            SH7          SH7
435                 Raya Muttarak            SH7            SH7          SH7
436                 Josef Novotný            SH7            SH7          SH7
437                Joacim Rocklöv            SH7            SH7          SH7
438                  Joeri Rogelj            SH7            SH7          SH7

                     Fullname review_panel_x review_panel_y review_panel
439              Helena Wulff            SH8            SH8          SH8
440           Stefano Allievi            SH8            SH8          SH8
441           Bart Barendregt            SH8            SH8          SH8
442               Elaine Chew            SH8            SH8          SH8
443         Karmen Franinović            SH8            SH8          SH8
444             Heather Horst            SH8            SH8          SH8
445  Thomas Da Costa Kaufmann            SH8            SH8          SH8
446              Susan Levine            SH8            SH8          SH8
447           Chandana Mathur            SH8            SH8          SH8
448         Giedrė Mickūnaitė            SH8            SH8          SH8
449               Toby Miller            SH8            SH8          SH8
450        Nicola Scaldaferri            SH8            SH8          SH8
451               Kevin Smets            SH8            SH8          SH8
452       Sharika Thiranagama            SH8            SH8          SH8
453        Rob van der Laarse            SH8            NaN          SH8
454               Lorenz Korn            SH8            NaN          SH8
455                Ana Hofman            SH8            NaN          SH8

In [6]:
df_merged = pd.merge(df_pdf, df_excel, left_on='Fullname', right_on='Name', how='left', indicator=True)
display(df_merged)

,Domain,Subdomain,Forename,Lastname,Fullname,Type,ERC-Date,review_panel_x,Name,funding_scheme,review_panel_y,year,_merge
0,PE,Mathematics (PE1),Satoru,Iwata,Satoru Iwata,Chair,2025,PE1,Satoru Iwata,StG,PE1,2025.0,both
1,PE,Mathematics (PE1),Luigi,Ambrosio,Luigi Ambrosio,Member,2025,PE1,Luigi Ambrosio,StG,PE1,2025.0,both
2,PE,Mathematics (PE1),Carolina,Araujo,Carolina Araujo,Member,2025,PE1,Carolina Araujo,StG,PE1,2025.0,both
3,PE,Mathematics (PE1),Boris,Aronov,Boris Aronov,Member,2025,PE1,Boris Aronov,StG,PE1,2025.0,both
4,PE,Mathematics (PE1),Stéphane,Boucheron,Stéphane Boucheron,Member,2025,PE1,Stéphane Boucheron,StG,PE1,2025.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...
472,LS,Studies of Cultures and Arts (SH8),Kevin,Smets,Kevin Smets,Member,2025,SH8,Kevin Smets,StG,SH8,2025.0,both
473,LS,Studies of Cultures and Arts (SH8),Sharika,Thiranagama,Sharika Thiranagama,Member,2025,SH8,Sharika Thiranagama,StG,SH8,2025.0,both
474,LS,Studies of Cultures and Arts (SH8),Rob,van der Laarse,Rob van der Laarse,Member,2025,SH8,NaN,NaN,NaN,NaN,left_only
475,LS,Studies of Cultures and Arts (SH8),Lorenz,Korn,Lorenz Korn,Member,2025,SH8,NaN,NaN,NaN,NaN,left_only
476,LS,Studies of Cultures and Arts (SH8),Ana,Hofman,Ana Hofman,Member,2025,SH8,NaN,NaN,NaN,NaN,left_only

In [ ]:
df_merged = df_merged.loc[:, ['Forename', "Lastname", "Fullname", "Type", "year", "funding_scheme"]]


display(df_merged.info())
display(df_merged)

print(df_merged["funding_scheme"].value_counts())